#loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: url('/images/loading.gif') no-repeat center center;
}

.control-label {
    width: 200px;
    vertical-align:top;
}
