@{
    ViewBag.Title = "Sign In";
}

<h2>Sign In</h2>
<script id="customMessageTemplate" type="text/html">
    <em class="customMessage" data-bind='validationMessage: field'></em>
</script>
<p id="infoMessages" class="message-success"></p>
<fieldset>
    <div data-bind='validationOptions: { messageTemplate: "customMessageTemplate" }'>
        <label>
            <input type="checkbox" data-bind="checked: NewUser" id="NewUser">New User? Sign Up?</input>
        </label>
        </br>
        <label>
            <input placeholder="ENTER EMAIL" type="text" data-bind="value: EmailAddress" id="EmailAddress" />
        </label>
        </br>
        <label>
            <input placeholder="PASSWORD" type="password" data-bind="value: Password" id="Password" />
        </label>
        </br>
        <div id="divConfirmPassword" data-bind="visible: NewUser">
            <label>
                <input placeholder="RE-TYPE PASSWORD" type="password" data-bind="value: ConfirmPassword" id="ConfirmPassword" />
            </label>
            </br>
        </div>
    </div>
    <button data-bind="click: SignIn" type="submit">Sign In</button>
</fieldset>

@section scripts
{
    @Scripts.Render("~/Scripts/Custom.js")
    @Scripts.Render("~/Scripts/User/LoginViewModel.js")
    <script>

        $(document).ready(function () {
            ko.applyBindings(new UserLoginViewModel());
        });
    </script>
}

